# Исключаем файлы и каталоги Git
.git
.gitignore

# Исключаем кэшированные файлы Python
__pycache__
*.py[cod]
*$py.class
.pytest_cache

# Исключаем каталоги виртуальных окружений
.venv/

# Исключаем файлы логов
*.log

# Исключаем настройки IDE
.vscode
